##Pandas Library

In [82]:
#import pandas library
import pandas as pd
#Read dataset and store into a data frame
cars = pd.read_csv("mtcars.csv")
#print
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

## Geting the type of value

In [83]:
type(cars)

pandas.core.frame.DataFrame

## importing dataframe

In [84]:
import pandas as pd
dict1 = {'name' :['A','B'],'age':[56,78]}
df = pd.DataFrame(dict1)
print(df)

  name  age
0    A   56
1    B   78

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes

## Changing value type

In [86]:
df.age = df.age.apply(float)

In [87]:
df.age

0    56.0
1    78.0
Name: age, dtype: float64

In [88]:
df[df.name == 'A']

  name   age
0    A  56.0

##Analysis

In [89]:
cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [90]:
cars.tail(8)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [91]:
cars.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

<ipython-input-91-1a27d5787d06>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  cars.info(null_counts=True)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   age     2 non-null      float64
dtypes: float64(1), object(1)
memory usage: 160.0+ bytes

In [93]:
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

## Getting mean value

In [94]:
cars.mean()

<ipython-input-94-9bac2de8474d>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  cars.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

## Cleaing

In [95]:
#rename column
cars = cars.rename(columns={'Unnamed: 1':'model'})
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

## fill the null values with mean of the column

In [96]:
cars.qsec = cars.qsec.fillna(cars.qsec.mean())

##drop unwanted column

In [97]:
print(cars.head())
cars = cars.drop(columns=['model'])
print(cars.head())

               model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2
    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

##Find corellation mattrix

In [98]:

df = cars[['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
print(df)

           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.852162 -0.847551 -0.776168  0.681172 -0.867659  0.418684
cyl  -0.852162  1.000000  0.902033  0.832447 -0.699938  0.782496 -0.591242
disp -0.847551  0.902033  1.000000  0.790949 -0.710214  0.887980 -0.433698
hp   -0.776168  0.832447  0.790949  1.000000 -0.448759  0.658748 -0.708223
drat  0.681172 -0.699938 -0.710214 -0.448759  1.000000 -0.712441  0.091205
wt   -0.867659  0.782496  0.887980  0.658748 -0.712441  1.000000 -0.174716
qsec  0.418684 -0.591242 -0.433698 -0.708223  0.091205 -0.174716  1.000000
vs    0.664039 -0.810812 -0.710416 -0.723097  0.440278 -0.554916  0.744535
am    0.599832 -0.522607 -0.591227 -0.243204  0.712711 -0.692495 -0.229861
gear  0.480285 -0.492687 -0.555569 -0.125704  0.699610 -0.583287 -0.212682
carb -0.550925  0.526988  0.394977  0.749812 -0.090790  0.427606 -0.656249

            vs        am      gear      carb
mpg   0.664039  0.599832  0.480285 -0.550925
cyl  -0.810812 -0.522607 -0.492687  0.526988
disp -0.710416 -0.591227 -0.555569  0.394977
hp   -0.723097 -0.243204 -0.125704  0.749812
drat  0.440278  0.712711  0.699610 -0.090790
wt   -0.554916 -0.692495 -0.583287  0.427606
qsec  0.744535 -0.229861 -0.212682 -0.656249
vs    1.000000  0.168345  0.206023 -0.569607
am    0.168345  1.000000  0.794059  0.057534
gear  0.206023  0.794059  1.000000  0.274073
carb -0.569607  0.057534  0.274073  1.000000

## 2D data frame

In [99]:
# 2D frame
arr1 = [['israq',23],['soumik',15],['amma',40],['hitlu',50]]
arr2 = [['bonna',16],['nishat',40],['aashik',23]]
dataf1 = pd.DataFrame(arr1,columns=['Name','age',])
dataf1

     Name  age
0   israq   23
1  soumik   15
2    amma   40
3   hitlu   50

## Merge data

In [100]:
import pandas as pd
data1 = {
    "name": ["sally","marry","John"],
    "age": [77,40,30]
}

data2 = {
    "name": ["sally","Peter","michy"],
    "gender":['F','M','M']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

newdf = pd.merge(df1,df2, how='outer')
print(newdf)
newdf = pd.merge(df1,df2, how='inner')
print(newdf)
newdf = pd.merge(df1,df2, how='left')
print(newdf)
newdf = pd.merge(df1,df2, how='right')
print(newdf)

    name   age gender
0  sally  77.0      F
1  marry  40.0    NaN
2   John  30.0    NaN
3  Peter   NaN      M
4  michy   NaN      M
    name  age gender
0  sally   77      F
    name  age gender
0  sally   77      F
1  marry   40    NaN
2   John   30    NaN
    name   age gender
0  sally  77.0      F
1  Peter   NaN      M
2  michy   NaN      M

In [101]:
df1 = pd.DataFrame({'name': ['digonto','prottoy','ruhul'],
                   'dept': ['management','physics','agriculture'],
                   'material status': ['Unmarried','unmarried','unmarried']})

df2 = pd.DataFrame({'name': ['digonto','prottoy2','ruhul2'],
                   'age': ['24','25','26'],
                   'cgpa': ['3.00','3.20','3.60']})

print(df1)
print(df2)
newdf2 = pd.merge(df1,df2,on="name")
print(newdf2)

      name         dept material status
0  digonto   management       Unmarried
1  prottoy      physics       unmarried
2    ruhul  agriculture       unmarried
       name age  cgpa
0   digonto  24  3.00
1  prottoy2  25  3.20
2    ruhul2  26  3.60
      name        dept material status age  cgpa
0  digonto  management       Unmarried  24  3.00

In [102]:
newdf3 = pd.merge(df1,df2,how="outer")
print(newdf3)

       name         dept material status  age  cgpa
0   digonto   management       Unmarried   24  3.00
1   prottoy      physics       unmarried  NaN   NaN
2     ruhul  agriculture       unmarried  NaN   NaN
3  prottoy2          NaN             NaN   25  3.20
4    ruhul2          NaN             NaN   26  3.60

## Fill null value

In [103]:
newdf3['cgpa']=newdf3['cgpa'].fillna(2.75)
print(newdf3['cgpa'])

0    3.00
1    2.75
2    2.75
3    3.20
4    3.60
Name: cgpa, dtype: object

In [104]:
newdf3.age = newdf3.age.fillna(30)
print(newdf3.age)

0    24
1    30
2    30
3    25
4    26
Name: age, dtype: object

## Convert object type into int64

In [105]:
newdf3['cgpa']=newdf3['cgpa'].astype('str').astype('float')
print(newdf3['cgpa'])

0    3.00
1    2.75
2    2.75
3    3.20
4    3.60
Name: cgpa, dtype: float64

In [106]:
newdf3['age']=newdf3['age'].astype('str').astype('int')
newdf3.age

0    24
1    30
2    30
3    25
4    26
Name: age, dtype: int64

## Double the value

In [107]:
f = lambda x: x*2
newdf3['age'] = newdf3['age'].apply(f)
print(newdf3.age)

0    48
1    60
2    60
3    50
4    52
Name: age, dtype: int64

## Sorting

In [108]:
newdf3.sort_values(by='age',ascending = False)

       name         dept material status  age  cgpa
1   prottoy      physics       unmarried   60  2.75
2     ruhul  agriculture       unmarried   60  2.75
4    ruhul2          NaN             NaN   52  3.60
3  prottoy2          NaN             NaN   50  3.20
0   digonto   management       Unmarried   48  3.00

## Filtering

In [109]:
#Filter records with age more than 25
filter1 = newdf3['age'] > 25
#Applyfilter to dataframe
filtered_new = newdf3[filter1]
#View filtered dataframe
print(filtered_new)

       name         dept material status  age  cgpa
0   digonto   management       Unmarried   48  3.00
1   prottoy      physics       unmarried   60  2.75
2     ruhul  agriculture       unmarried   60  2.75
3  prottoy2          NaN             NaN   50  3.20
4    ruhul2          NaN             NaN   52  3.60